@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

@-webkit-keyframes fadeinBottom {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes fadeinBottom {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeoutBottom {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeoutBottom {
  from {
    bottom: 0px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@-webkit-keyframes fadeinTop {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 10px;
    opacity: 1;
  }
}

@keyframes fadeinTop {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 10px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeoutTop {
  from {
    top: 10px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeoutTop {
  from {
    top: 10px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}



* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#FPqR2DbIqJeA2DbI7MM9_0 div {
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
    color: #2c3e50;
    font-family: Roboto,helvetica,arial,sans-serif!important;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    display: block;
    box-sizing: border-box;
    text-align: left;
    font-size: 15px;
}


#FPqR3dGiqJeA3dGi7MM9_0 .FPqR2B_4qJeA2B_47MM9_0 {
    pointer-events: auto;
    overflow: hidden;
    position: relative;
    height: 70px;
    width: 96%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    line-height: 1em;
    box-shadow: 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.05), 0 8px 50px rgba(0,0,0,.05);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#FPqR3acHqJeA3acH7MM9_0 {
    font-family: Roboto,helvetica,arial,sans-serif;
}

#FPqR3acHqJeA3acH7MM9_0 .FPqRH0WDqJeAH0WD7MM9_0 {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    padding: 20px;
}

#FPqR3acHqJeA3acH7MM9_0 .FPqRH0WDqJeAH0WD7MM9_0 .FPqRh0ePqJeAh0eP7MM9_0 {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #0095f7;
    box-shadow: 0 0 0 rgba(0,149,247,.4);
    animation: FPqRh0ePqJeAh0eP7MM9_0 2s infinite;
}

@-webkit-keyframes FPqRh0ePqJeAh0eP7MM9_0 {
  50%  {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-box-shadow: 0 0 7px 8px #008dff29;
  }
}

@-moz-keyframes FPqRh0ePqJeAh0eP7MM9_0 {
  50%  {
    opacity: 1;
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 7px 8px #008dff29;
  }
}

@-o-keyframes FPqRh0ePqJeAh0eP7MM9_0 {
  50%  {
    opacity: 1;
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 7px 8px #008dff29;
  }
}

@-ms-keyframes FPqRh0ePqJeAh0eP7MM9_0 {
  50%  {
    opacity: 1;
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 7px 8px #008dff29;
  }
}

@keyframes FPqRh0ePqJeAh0eP7MM9_0 {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 7px 8px #008dff29;
  }
}

#FPqR3acHqJeA3acH7MM9_0 .FPqR15RvqJeA15Rv7MM9_0 {
    display: block;
    margin: 9px 0 0 67px;
    font-size: 14px;
    color: #666;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


#FPqR3acHqJeA3acH7MM9_0 .FPqR15RvqJeA15Rv7MM9_0 .FPqR2fwXqJeA2fwX7MM9_0 {
    display: inline-block;
    padding: 3px;
    line-height: 1em;
    border-radius: 3px;
    background-color: rgba(0,149,247,.05);
    color: #0095f7;
    font-weight: 700;
    margin: 0 3px 0 0;
}

#FPqR3acHqJeA3acH7MM9_0 .FPqR15RvqJeA15Rv7MM9_0 .FPqR1Jr6qJeA1Jr67MM9_0 {
    font-weight: 700;
    line-height: 0px;
    font-size: 15px;
}

#FPqR3acHqJeA3acH7MM9_0 .FPqR14UVqJeA14UV7MM9_0 {
    font-size: 10px;
    color: #ddd;
    font-weight: 700;
    margin: 1px 0 0 70px;
}

#FPqR3acHqJeA3acH7MM9_0 .FPqR14UVqJeA14UV7MM9_0 i {
    display: inline-block;
    margin: 0px 2px;
    vertical-align: middle;
    line-height: 1em;
    font-size: .75rem;
}

#FPqR3acHqJeA3acH7MM9_0 .FPqR14UVqJeA14UV7MM9_0 i img {
    overflow: hidden;
}

#FPqR3acHqJeA3acH7MM9_0 .FPqR14UVqJeA14UV7MM9_0 a {
    color: rgba(0,149,247,.5);
    text-decoration: none!important;
}

#FPqR3dGiqJeA3dGi7MM9_0 .FPqR2B_4qJeA2B_47MM9_0 .FPqR159fqJeA159f7MM9_0 {
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 4px;
    opacity: .1;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
}

#FPqR3dGiqJeA3dGi7MM9_0 .FPqR2B_4qJeA2B_47MM9_0 img {
    width: 13px;
    height: 14px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

svg:not(:root) {
    overflow: hidden;
}

#FPqR3dGiqJeA3dGi7MM9_0 .FPqR2B_4qJeA2B_47MM9_0 {
    pointer-events: auto;
    overflow: hidden;
    position: relative;
    height: 70px;
    width: 96%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    line-height: 1em;
    box-shadow: 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.05), 0 8px 50px rgba(0,0,0,.05);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 {
    pointer-events: auto;
    overflow: hidden;
    position: relative;
    height: 70px;
    width: 96%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    line-height: 1em;
    box-shadow: 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.05), 0 8px 50px rgba(0,0,0,.05);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR1JYFqJeA1JYF7MM9_0 {
    display: block;
    position: absolute;
    float: left;
    top: 4px;
    left: 3px;
    height: 65px;
    width: 65px;
}

#FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR1JYFqJeA1JYF7MM9_0 img {
    border-radius: 10px;
    height: 64px;
    width: 64px;
}

#FPqR2DbIqJeA2DbI7MM9_0 img {
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 11px;
    height: 13px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

#FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR2EbCqJeA2EbC7MM9_0 {
    margin-left: 70px;
    padding-right: 8px;
    margin-top: 2px;
}

#FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR2EbCqJeA2EbC7MM9_0 .FPqR2AUlqJeA2AUl7MM9_0 {
    line-height: 17.5px;
    font-size: 14px;
    font-weight: 700;
    color: #222;
}

#FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR2EbCqJeA2EbC7MM9_0 .FPqR2AUlqJeA2AUl7MM9_0, #FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR2EbCqJeA2EbC7MM9_0 .FPqR13BWqJeA13BW7MM9_0 {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

#FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR2EbCqJeA2EbC7MM9_0 .FPqR13BWqJeA13BW7MM9_0 {
    line-height: 17.5px;
    font-size: 12px;
    color: #738c98;
    margin-bottom: 0px;
}

#FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR2EbCqJeA2EbC7MM9_0 .FPqR2PlWqJeA2PlW7MM9_0 {
    line-height: 1em;
    display: inline-block;
    color: #90a4ae;
    font-size: 11px;
}

#FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR2EbCqJeA2EbC7MM9_0 .FPqR3eNuqJeA3eNu7MM9_0 {
    margin-left: 3px;
    display: inline-block;
    position: relative;
    padding: 0px 0px;
    border-radius: 5px;
    z-index: 10000000;
    font-size: 10px;
    line-height: 1em;
    color: #adbcc4;
    text-decoration: none!important;
    cursor: pointer;
    background-color: #fff;
}

#FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR2EbCqJeA2EbC7MM9_0 .FPqR3eNuqJeA3eNu7MM9_0 i {
    display: inline;
    margin: -3px 2px;
    vertical-align: middle;
    line-height: 1em;
    font-size: .75rem;
}

#FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR2EbCqJeA2EbC7MM9_0 .FPqR3eNuqJeA3eNu7MM9_0 i img {
    overflow: hidden;
}

#FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR2EbCqJeA2EbC7MM9_0 .FPqR3eNuqJeA3eNu7MM9_0 .FPqR12wMqJeA12wM7MM9_0 {
    color: #0089d8;
    text-decoration: none!important;
}

#FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR1N_EqJeA1N_E7MM9_0 {
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 4px;
    opacity: .1;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
}

#FPqR2lriqJeA2lri7MM9_0 .FPqR1XogqJeA1Xog7MM9_0 {
    pointer-events: auto;
    overflow: hidden;
    position: relative;
    height: 70px;
    width: 96%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    line-height: 1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.05), 0 8px 50px rgba(0,0,0,.05);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#FPqR2lriqJeA2lri7MM9_0 .FPqR1XogqJeA1Xog7MM9_0 .FPqR37xpqJeA37xp7MM9_0 {
    padding: 5px;
    width: 80px;
    height: 54px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    transition-duration: .8s;
    transition-property: transform;
}

#FPqR2lriqJeA2lri7MM9_0 .FPqR1XogqJeA1Xog7MM9_0 .FPqR37xpqJeA37xp7MM9_0 img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

#FPqR2lriqJeA2lri7MM9_0 .FPqR1XogqJeA1Xog7MM9_0 .FPqRqu5HqJeAqu5H7MM9_0 {
    padding: 0 7px;
    font-size: 15px;
}

#FPqR2lriqJeA2lri7MM9_0 .FPqR1XogqJeA1Xog7MM9_0 .FPqRqu5HqJeAqu5H7MM9_0 div, #FPqR2lriqJeA2lri7MM9_0 .FPqR1XogqJeA1Xog7MM9_0 .FPqRqu5HqJeAqu5H7MM9_0 span {
    color: #0095f7;
}

#FPqR2lriqJeA2lri7MM9_0 .FPqR1XogqJeA1Xog7MM9_0 .FPqRtoc3qJeAtoc37MM9_0 {
    font-weight: 700;
    display: inline-block;
    padding: 3px;
    line-height: 1.1em;
    background-color: rgba(0,149,247,.1);
    margin-bottom: 2px;
    border-radius: 3px;
    line-height: 10px !important;
    font-size: 15px !important;
}

#FPqR2lriqJeA2lri7MM9_0 .FPqR1XogqJeA1Xog7MM9_0 .FPqR29e1qJeA29e17MM9_0 {
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 4px;
    opacity: .1;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
}

#FPqR2lriqJeA2lri7MM9_0 .FPqR1XogqJeA1Xog7MM9_0 .FPqR29e1qJeA29e17MM9_0 svg {
    width: 11px;
    height: 11px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

@media screen and (min-width: 480px) {
  #FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0.FPqR2riIqJeA2riI7MM9_0 {
    cursor: pointer;
    transition: all .1s ease-in-out;
  }

  #FPqR3dGiqJeA3dGi7MM9_0 {
    right: auto;
    }

  #FPqR2lriqJeA2lri7MM9_0 {
      right: auto;
  }

  #FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 .FPqR1JYFqJeA1JYF7MM9_0 img {
      border-radius: 50%;
  }


  #FPqR2lriqJeA2lri7MM9_0 .FPqR1XogqJeA1Xog7MM9_0.FPqR27wVqJeA27wV7MM9_0 {
    cursor: pointer;
    transition: all .1s ease-in-out;
  }

  #FPqR3dGiqJeA3dGi7MM9_0 .FPqR2B_4qJeA2B_47MM9_0.FPqRD2zVqJeAD2zV7MM9_0 {
      cursor: pointer;
      transition: all .1s ease-in-out;
  }

  #FPqR2fZIqJeA2fZI7MM9_0 .FPqR3zjZqJeA3zjZ7MM9_0 {
    width: 320px;
    margin: 0 0 10px 10px;
    border-radius: 50px;
    box-shadow: 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.05), 0 8px 50px rgba(0,0,0,.05);
  }

  #FPqR2lriqJeA2lri7MM9_0 .FPqR1XogqJeA1Xog7MM9_0 {
    width: 320px;
    margin: 0 0 10px 10px;
    box-shadow: 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.05), 0 8px 50px rgba(0,0,0,.05);
    border-radius: 50px;
  }

  #FPqR3dGiqJeA3dGi7MM9_0 .FPqR2B_4qJeA2B_47MM9_0 {
    width: 320px;
    margin: 0 0 10px 10px;
    border-radius: 50px;
    box-shadow: 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.05), 0 8px 50px rgba(0,0,0,.05);
  }
}

/*Star rating styles*/


.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  color:blue;
  background      : url('./star-on.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('./star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
